<div>
    {{> title data="Bio page" big=true}}
    <br />
    <main>

    </main>
    <article>
        <p>
        <h3>{{name}}</h3>
        </p>
        <p>Birth: <em>{{birthdate}}</em></p>
        <p>City: <em>{{birthplace}}</em></p>
        <p>Death: <em>{{deathdate}}</em></p>
        <p>Death place: <em>{{deathplace}}</em></p>
        <p>Nationality: <em>{{nationality}}</em></p>
        <p>Occupation: <em>{{occupation}}</em></p>
    </article>

    {{> space}}

    
    <section>
    {{> title data="Known for"}}
    <div>
        {{#each known_for}}
        <pre>{{this}}</pre>
        {{/each}}
    </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Education"}}
        <div>
            {{#each education}}
            <p>Degree: <em>{{degree}}</em></p>
            <p>Field: <em>{{field}}</em></p>
            <p>Institution: <em>{{institution}}</em></p>
            <p>Year: <em>{{year}}</em></p>
            {{/each}}
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Publications"}}
        <div>
            <p>Name: <cite>{{notable_publications.[0].title}}</cite></p>
            <p>Year: <em>{{notable_publications.[0].year}}</em></p>
            <p>Author:  <author>{{notable_publications.[0].publisher}}</author></p>

            <br />

            <p>Name: <cite>{{notable_publications.[1].title}}</cite></p>
            <p>Year: <em>{{notable_publications.[1].year}}</em></p>
            <p>Author:  <author>{{notable_publications.[1].publisher}}</author></p>
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Partners"}}
        <div>
            <p>Name: <em>{{partners.[0].name}}</em></p>
            <p>Realtioship: <em>{{partners.[0].relationship}}</em></p>
            <p>Years: {{partners.[0].years}}</p>

            <br />

            <p>Name: <em>{{partners.[1].name}}</em></p>
            <p>Relatioship: <em>{{partners.[1].relationship}}</em></p>
            <p>Years: {{partners.[1].years}}</p>
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Awards"}}
        <div>
            {{#each awards}}
            <p><b>{{title}} {{year}}</b></p>
            <p>Description: {{description}}</p>
            {{/each}}
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Influences"}}
        <div>
            {{#with influences}}
           <p>{{[0]}}</p>
           <p>{{[1]}}</p>
           <p>{{[2]}}</p>
            {{/with}}
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Influenced"}}
        <div>
            {{#with influenced}}
            <p>{{[0]}}</p>
            <p>{{[1]}}</p>
            <p>{{[2]}}</p>
            {{/with}}
        </div>
    </section>

    {{> space}}

    <section>
        {{>title data="Quotes"}}
        <div>
            {{#with quotes}}
            <p><q>{{[0]}}</q> - <em>Albert Enstein</em></p>
            <p><q>{{[1]}}</q> - <em>Albert Enstein</em></p>
            <p><q>{{[2]}}</q> - <em>Albert Enstein</em></p>
            <p><q>{{[3]}}</q> - <em>Albert Enstein</em></p>
            {{/with}}
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Discoveries"}}
        <div>
            {{#each major_discoveries}}
            <p>{{title}} | {{year}}</p>
            <p>Description: {{description}}</p>
            {{/each}}
        </div>
    </section>

     {{> space}}

    <section>
        {{> title data="Contributions"}}
        <div>
            {{#with contributions}}
            <p>{{title}} | {{year}}</p>
            <p>Description: {{description}}</p>
            <p>Field: {{field}}</p>
            {{/with}}
        </div>
    </section>
    </main>
</div>