<div class="ms-2">
    {{> title data="Bio page" big=true}}
   
   
    <article class="mt-3">
        <p>
        <h3>{{name}}</h3>
        </p>
        <p class="mt-2">Birth: <em>{{birthdate}}</em></p>
        <p class="mt-2">City: <em>{{birthplace}}</em></p>
        <p class="mt-2">Death: <em>{{deathdate}}</em></p>
        <p class="mt-2">Death place: <em>{{deathplace}}</em></p>
        <p class="mt-2">Nationality: <em>{{nationality}}</em></p>
        <p class="mt-2">Occupation: <em>{{occupation}}</em></p>
    </article>

    {{> space}}

    
    <section>
    {{> title data="Known for"}}
    <div class="mt-3">
        {{#each known_for}}
        <pre>{{this}}</pre>
        {{/each}}
    </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Education"}}
        <div>
            {{#each education}}
            <p class="mt-2">Degree: <em>{{degree}}</em></p>
            <p class="mt-2">Field: <em>{{field}}</em></p>
            <p class="mt-2">Institution: <em>{{institution}}</em></p>
            <p class="mt-2">Year: <em>{{year}}</em></p>
            {{/each}}
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Publications"}}
        <div>
            <p class="mt-2">Name: <cite>{{notable_publications.[0].title}}</cite></p>
            <p class="mt-2">Year: <em>{{notable_publications.[0].year}}</em></p>
            <p class="mt-2 mb-3">Author:  <author>{{notable_publications.[0].publisher}}</author></p>

            <p class="mt-2">Name: <cite>{{notable_publications.[1].title}}</cite></p>
            <p class="mt-2">Year: <em>{{notable_publications.[1].year}}</em></p>
            <p class="mt-2">Author:  <author>{{notable_publications.[1].publisher}}</author></p>
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Partners"}}
        <div>
            <p class="mt-2">Name: <em>{{partners.[0].name}}</em></p>
            <p class="mt-2">Realtioship: <em>{{partners.[0].relationship}}</em></p>
            <p class="mt-2 mb-3">Years: {{partners.[0].years}}</p>

            

            <p class="mt-2">Name: <em>{{partners.[1].name}}</em></p>
            <p class="mt-2">Relatioship: <em>{{partners.[1].relationship}}</em></p>
            <p class="mt-2">Years: {{partners.[1].years}}</p>
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Awards"}}
        <div>
            {{#each awards}}
            <p class="mt-2"><b>{{title}} {{year}}</b></p>
            <p class="mt-2">Description: {{description}}</p>
            {{/each}}
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Influences"}}
        <div>
            {{#with influences}}
           <p class="mt-2">{{[0]}}</p>
           <p class="mt-2">{{[1]}}</p>
           <p class="mt-2">{{[2]}}</p>
            {{/with}}
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Influenced"}}
        <div>
            {{#with influenced}}
            <p class="mt-3">{{[0]}}</p>
            <p class="mt-3">{{[1]}}</p>
            <p class="mt-3">{{[2]}}</p>
            {{/with}}
        </div>
    </section>

    {{> space}}

    <section>
        {{>title data="Quotes"}}
        <div>
            {{#with quotes}}
            <p class="mt-3"><q>{{[0]}}</q> - <em>Albert Enstein</em></p>
            <p class="mt-3"><q>{{[1]}}</q> - <em>Albert Enstein</em></p>
            <p class="mt-3"><q>{{[2]}}</q> - <em>Albert Enstein</em></p>
            <p class="mt-3"><q>{{[3]}}</q> - <em>Albert Enstein</em></p>
            {{/with}}
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Discoveries"}}
        <div>
            {{#each major_discoveries}}
            <p class="mt-3">{{title}} | {{year}}</p>
            <p class="mt-3">Description: {{description}}</p>
            {{/each}}
        </div>
    </section>

     {{> space}}

    <section>
        {{> title data="Contributions"}}
        <div>
            {{#with contributions}}
            <p class="mt-3">{{title}} | {{year}}</p>
            <p class="mt-3">Description: {{description}}</p>
            <p class="mt-3">Field: {{field}}</p>
            {{/with}}
        </div>
    </section>
    </main>
</div>