<div class="ms-2">
    {{>title data="Car page" big=true}}
    <br />

    <section>
        {{>title data="About Toyota"}}

       
        
        <div class="mt-3">
            <p>Модель: <i>{{make}}  {{model}} | {{year}}</i></p>
            <p>Колір: <i>{{color}}</i></p>
        </div>
    </section>

    {{> space}}

    {{#with features}}
    <section>
        {{> title data="Options"}}

       

        <div class="mt-3">
            <h4>Interior</h4>

          

            {{#with interior}}
            <div class="mt-3">
                <b>Seats</b>
                <ul>
                    {{#with seats}}
                    <li class="mt-2">Material: <i>{{material}}</i></li>
                    <li class="mt-2">Color: <i>{{color}}</i></li>
                    <li class="mt-2">Heated: <i>{{heated}}</i></li>
                    <li class="mt-2">Ventilated: <i>{{ventilated}}</i></li>
                    {{/with}}
                </ul>
            </div>
            <div>
                <b>Dashboard</b>
                <ul>
                    {{#with dashboard}}
                    <li class="mt-3">Material: <i>{{material}}</i></li>
                    <li class="mt-3">Color: <i>{{color}}</i></li>
                    <li class="mt-3">Display:
                        <ul class="ms-3">
                            {{#with display}}
                            <li class="mt-3">Type: <i>{{type}}</i></li>
                            <li class="mt-3">Size: <i>{{size}}</i></li>
                            <li class="mt-3">Resolution: <i>{{resolution}}</i></li>
                            <li class="mt-3">Touchscreen: <i>{{touchscreen}}</i></li>
                            {{/with}}
                        </ul>
                    </li>
                    {{/with}}
                </ul>
            </div>
            <div>
                <b>Audio</b>
                <ul>
                    {{#with audio}}
                    <li class="mt-3">System: <i>{{system}}</i></li>
                    <li class="mt-3">Speakers: <i>{{speakers}}</i></li>
                    <li class="mt-3">Subwoofer: <i>{{subwoofer}}</i></li>
                    <li class="mt-3">Bluetooth: <i>{{bluetooth}}</i></li>
                    <li class="mt-3">USB: <i>{{USB}}</i></li>
                    {{/with}}
                </ul>
            </div>
            {{/with}}
        </div>

        {{> space}}

        <div>
            <h4>Exterior</h4>

         

            {{#with exterior}}
            <div class="mt-3">
                <b>Wheels</b>
                <ul class="ms-3">
                    {{#with wheels}}
                    <li class="mt-3">Size: <i>{{size}}</i></li>
                    <li class="mt-3">Type: <i>{{type}}</i></li>
                    <li class="mt-3">Color: <i>{{color}}</i></li>
                    {{/with}}
                </ul>
            </div>
            <div>
                <b>Headlights</b>
                <ul class="ms-3">
                    {{#with headlights}}
                    <li class="mt-3">Type: <i>{{type}}</i></li>
                    <li class="mt-3">Brightness: <i>{{brightness}}</i></li>
                    <li class="mt-3">Automatic: <i>{{automatic}}</i></li>
                    {{/with}}
                </ul>
            </div>
            <div>
                <b>Sunroof</b>
                <ul class="ms-3">
                    {{#with sunroof}}
                    <li class="mt-3">Type: <i>{{type}}</i></li>
                    <li class="mt-3">Size: <i>{{size}}</i></li>
                    <li class="mt-3">Automatic: <i>{{automatic}}</i></li>
                    {{/with}}
                </ul>
            </div>
            {{/with}}
        </div>

        {{> space}}

        <div>
            <h4>Safety</h4>

            
            {{#with safety}}
            <div class="mt-3">
                <b>Airbags</b>
                <ul class="ms-3">
                    {{#with airbags}}
                    <li class="mt-3">Front: <i>{{front}}</i></li>
                    <li class="mt-3">Side: <i>{{side}}</i></li>
                    <li class="mt-3">Knee: <i>{{knee}}</i></li>
                    <li class="mt-3">Rear: <i>{{rear}}</i></li>
                    {{/with}}
                </ul>
            </div>
            <div>
                <b>Assistance</b>
                <ul class="ms-3">
                    {{#with assistance}}
                    <li class="mt-3">Blind spot monitoring: <i>{{blind_spot_monitoring}}</i></li>
                    <li class="mt-3">Rear cross traffic alert: <i>{{rear_cross_traffic_alert}}</i></li>
                    <li class="mt-3">Lane deparure warning: <i>{{lane_departure_warning}}</i></li>
                    <li class="mt-3">Adaptive cruise control: <i>{{adaptive_cruise_control}}</i></li>
                    <li class="mt-3">Collision warning: <i>{{collision_warning}}</i></li>
                    {{/with}}
                </ul>
            </div>
            {{/with}}
        </div>
    </section>

    {{/with}}

    {{> space}}

    <div>
        <h4>About Engine</h4>

        

        <div class="mt-3">
            <b>Engine</b>
            <ul class="ms-3">
                {{#with engine}}
                <li class="mt-3">Type: <i>{{type}}</i></li>
                <li class="mt-3">Displacement: <i>{{displacement}}</i></li>
                <li class="mt-3">Horsepower: <i>{{horsepower}}</i></li>
                <li class="mt-3">Torque: <i>{{torque}}</i></li>
                <li class="mt-3">Transmission:
                    <ul class="ms-3">
                        {{#with transmission}}
                        <li class="mt-3">Type: <i>{{type}}</i></li>
                        <li class="mt-3">Gears: <i>{{gears}}</i></li>
                        {{/with}}
                    </ul>
                </li>
                {{/with}}
            </ul>
        </div>
        <div>
            <b>Fuel economy</b>
            <ul class="ms-3">
                {{#with fuel_economy}}
                <li class="mt-3">City: <i>{{city}}</i></li>
                <li class="mt-3">Highway: <i>{{highway}}</i></li>
                <li class="mt-3">Combined: <i>{{combined}}</i></li>
                {{/with}}
            </ul>
        </div>
    </div>

    {{> space}}

    <div>
        <h4>Value</h4>

        
        <div class="mt-3">
            <b>Price</b>
            <ul>
                {{#with price}}
                <li class="mt-3">Base: <i>{{base}}</i></li>
                <li class="mt-3">Destination: <i>{{destination}}</i></li>
                <li class="mt-3">Options:
                    <ul class="ms-3">
                        {{#with options}}
                        <li class="mt-3">Navigation: <i>{{navigation}}</i></li>
                        <li class="mt-3">Moonroof: <i>{{moonroof}}</i></li>
                        <li class="mt-3">Premium paint: <i>{{premium_paint}}</i></li>
                        {{/with}}
                    </ul>
                </li>
                <li class="mt-3">Total price: <strong>{{total}}</strong></li>
                {{/with}}
            </ul>
        </div>
    </div>
</div>