<div>
    <section>
        <h2>{{name}}</h2>
    </section>

    {{> space}}


    <section>
        <div class="ms-3">
        {{> title data="Users"}}
        </div>
        
        {{#each users}}
        <div class="mt-3 ms-3">
            <p>{{name}} | ID: {{id}}</p>
            <p>{{age}} years old | {{gender}} </p>
        </div>
        {{#each friends}}
        <div class="ms-3">
            <b>Friends</b>
            <ul class="ms-3">
                <li>{{name}} | ID: {{id}} | {{age}} years old | {{gender}}</li>
            </ul>
            {{#each mutual_friends}}
            <div class="mb-3 ms-3">
               <p><b>Mutual friends</b></p> 
                <ul class="ms-3">
                    <li>{{name}} | ID: {{id}} | {{age}} years old | {{gender}} </li>
                    <ul>
                        {{#with mutual_friends}}
                        
                        <li class="mt-3"><strong>Mutual friends:</strong> {{../mutual_friends.[0].name}} | ID:
                            {{../mutual_friends.[0].id}} | {{../mutual_friends.[0].age}} years old |
                            {{../mutual_friends.[0].gender}} </li>
                        {{/with}}
                    </ul>
                </ul>
            </div>
            {{/each}}

           


            {{#each groups}}
            <p><strong>Group:</strong> {{name}} | {{id}}</p>
            <p>Descriptions: <i>{{description}}</i></p>
            <ul>
                <p>Members:</p>
                {{#each members}}
                <li>{{name}} | ID: {{id}} | {{age}} years old | {{gender}}</li>
                {{/each}}
            </ul>
            {{/each}}
        </div>

        {{/each}}


        <div class="ms-3">

            {{#each groups}}
            <p><strong> Group:</strong> {{name}} | {{id}}</p>
            <p>Descriptions: <i>{{description}}</i></p>
            <ul class="ms-3">
                <p>Members:/p>
                {{#each members}}
                <li>{{name}} | ID: {{id}} | {{age}} years old | {{gender}}</li>
                {{/each}}
            </ul>
            {{/each}}
        </div>

        {{> space}}
        {{/each}}
    </section>