<div>
    {{> title data="JS page" big=true}}
    <br />

    <section>
        {{> title data="About JavaScript"}}
        <article>
            <p>{{name}}</p>
            <p>Decription: {{description}}</p>
            <p>
                <author>Founder: {{history.founder}} | {{history.year}}</author>
            </p>
        </article>
    </section>

    {{> space}}

    <section>
        {{> title data="Types in JavaScript"}}
    </section>
    <div>
        <ul>
            {{#each types}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>


    {{> space}}

    <section>
        {{> title data ="Syntax in JavaScript"}}
        <div>
            <ul>
                {{#with syntax}}
                <li class="mt-1">Variables: <code>{{variables}}</code></li>
                <li class="mt-1">Functions: <code>{{functions}}</code></li>
                <li class="mt-1">Conditionals: <code>{{conditionals}}</code></li>
                <li class="mt-1">Loops: <code>{{loops}}</code></li>
                <li class="mt-1">Classes: <code>{{classes}}</code></li>
                {{/with}}
            </ul>
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Features in JavaScript"}}
        <div>
            <ul>
                {{#with features}}
                <li class="mt-2">{{[0]}}</li>
                <li class="mt-2">{{[1]}}</li>
                <li class="mt-2">{{[2]}}</li>
                <li class="mt-2">{{[3]}}</li>
                <li class="mt-2">{{[4]}}</li>
                <li class="mt-2">{{[5]}}</li>
                {{/with}}
            </ul>
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Libraries in JavaScript"}}
        <div>
            <ul>
                {{#with libraries}}
                <li class="mt-1">{{[0]}} <i class='fab fa-js' style='font-size:24px;color:rgb(255, 251, 45)'></i></li>
                <li class="mt-1">{{[1]}} <i class='fab fa-react' style='font-size:24px;color:rgb(27, 180, 232)'></i></li>
                <li class="mt-1">{{[2]}} <i class='fab fa-angular' style='font-size:24px;color:red'></i></li>
                <li class="mt-1">{{[3]}} <i class='fab fa-vuejs' style='font-size:24px;color:rgb(19, 119, 20)'></i></li>
                <li class="mt-1">{{[4]}} <i class='fab fa-node-js' style='font-size:24px;color:green'></i></li>
                <li class="mt-1">{{[5]}} </li>
                <li class="mt-1">{{[6]}} </li>
                <li class="mt-1">{{[7]}} </li>
                {{/with}}
            </ul>
        </div>
    </section>

    {{> space}}

    <section>
        {{>title data="Tools in JavaScript"}}
        <div>
            <ul>
                {{#with tools}}
                <li class="mt-1"><cite>{{[0]}}</cite></li>
                <li class="mt-1"><cite>{{[1]}}</cite></li>
                <li class="mt-1"><cite>{{[2]}}</cite></li>
                <li class="mt-1"><cite>{{[3]}}</cite></li>
                <li class="mt-1"><cite>{{[4]}}</cite></li>
                <li class="mt-1"><cite>{{[5]}}</cite></li>
                <li class="mt-1"><cite>{{[6]}}</cite></li>
                <li class="mt-1"><cite>{{[7]}}</cite></li>
                {{/with}}
            </ul>
        </div>
    </section>

    {{>space}}

    <section>
        {{> title data="Community"}}
        <div>
            <p class="mt-1">{{community.[0].name}} | {{community.[0].type}}</p>
            <p class="mt-1">{{community.[1].name}} | {{community.[1].type}}</p>
            <p class="mt-1">{{community.[2].name}} | {{community.[2].type}}</p>
            <p class="mt-1">{{community.[3].name}} | {{community.[3].type}}</p>
        </div>
    </section>
</div>