<div>
    {{#with person}}
    <section>
        {{> title data="About person" big=true}}
        <div class="mt-3 mb-3">
            <p><strong>{{name}}</strong>, {{age}}, {{gender}}</p>
        </div>
    </section>

    {{#with address}}
    <section>
        {{> title data="Address"}}
        <div>
            <address>
                {{street}}, {{city}}, {{state}}, {{zip}}, {{country}}
            </address>
        </div>
    </section>
    {{/with}}

    {{> space}}

    <section>
        {{> title data="Education"}}
        <div>

            <ul>
                {{#each education}}
                <li>{{degree}}</li>
                <li>{{major}}</li>
                <li>{{university}}</li>
                <li>{{graduationYear}}</li>
                {{/each}}
            </ul>
        </div>
    </section>

    {{> space}}

    <section>
        {{> title data="Work experience"}}
        <div>
            <ul>
                {{#each workExperience}}
                <li><b>{{company}}</b></li>
                <li>Position: ({{title}})</li>
                <li>From {{startDate}} - to {{endDate}}</li>
                <li>Responsibilities: <p>({{responsibilities.[0]}})</p>
                    <p>({{responsibilities.[1]}})</p>
                </li>
                <li>Founed: {{year_founded}}</li>
                <li class="mb-3">Industry: {{industry}}</li>
                
                {{> title data="Employees"}}
                <div>
                    <ul>
                        {{#each employees}}
                        <li>{{name}}</li>
                        <li>Position: ({{position}})</li>
                        <li class="mb-3">Department: {{department}}</li>
                       
                        {{> title data="Projects"}}
                        <div>
                            {{#each projects}}
                            <p><i>Name:</i> {{name}}</p>
                            <p><i>Decriptions:</i></p>
                            <p>{{description}}</p>
                            <p class="mb-3"><i>Status:</i> ({{status}}...)</p>
                          
                            {{> title data="Team"}}
                            <div>
                                {{#each teams}}
                                <p><i>Name:</i> {{team_name}}</p>
                                <p><i>Person:</i> {{team_leader.name}} | {{team_leader.title}} </p>
                                {{#with team_leader}}
                                <p class="mb-3"><i>Email:</i> {{> link text=email href=href blank=true noLine=true}}</p>
                                {{/with}}
                                
                                {{> title data="Team members"}}
                                <div>
                                    {{#each team_members}}
                                    <p><i>Name:</i> {{name}} | {{title}}</p>
                                    <p><i>Email:</i> {{> link text=email href=href blank=true noLine=true}}</p>
                                    <p>Skills: {{skills}}</p>
                                    <p><b>Projects:</b></p>
                                    <ul>
                                        {{#each projects}}
                                        <li class="mb-3"><i>Name:</i> {{name}}</li>
                                        
                                        <li><i>Decription:</i>
                                            <p>{{description}}</p>
                                        </li>
                                        <li class="mb-3"><i>Technologies:</i></li>
                                        
                                        <ul class="mb-3">
                                            <li class="mb-2">{{technologies.[0]}}</li>
                                           
                                            <li>{{technologies.[1]}}</li>
                                        </ul>
                                        
                                        {{>title data="Others team members"}}
                                        <div>
                                            <p><i>Name:</i> {{team_members.[0].name}} | {{team_members.[0].title}}</p>
                                            <p><i>Name:</i> {{team_members.[1].name}} | {{team_members.[1].title}}</p>
                                        </div>
                                        {{/each}}
                                    </ul>
                                    {{/each}}
                    </ul>
                </div>
                {{/each}}
        </div>
        {{/each}}
        </ul>
</div>
{{/each}}
</ul>
</div>
{{/each}}
</ul>
</div>
</section>
{{/with}}
</div>