{{!--
Це код container файлу для skills сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/skills"
--}}

<div>
    {{#with main}}
    <main>
        <section class="mb-3">
            {{> title data="All skills" big=true}}
            <ul>
                <li class="mt-2">
                {{skills.[0].name}} <i class='fab fa-html5' style='font-size:24px;color:red'></i>
                </li>
                <li class="mt-2">
                {{skills.[1].name}}
                </li>
                <li class="mt-2">
                {{skills.[2].name}} <i class='fab fa-npm' style='font-size:24px;color:red'></i>
                </li>
                <li class="mt-2">
                {{skills.[3].name}} <i class='fab fa-git-square' style='font-size:24px;color:red'></i>
                </li>
                <li class="mt-2">
                {{skills.[4].name}} <i class='fab fa-react' style='font-size:24px;color:red'></i> (Ще вивчаю)
                </li>
                <li class="mt-2">
                {{skills.[5].name}} <i class='fab fa-php' style='font-size:24px;color:red'></i> (Не вивчаю)
                </li>
            </ul>
        </section>
        <section>
            {{> title data="My hobbies"}}
            <ul>
                <li class="mt-2">
                    {{hobbies.[0].name}} <i class='fas fa-laptop-code' style='font-size:24px;color:red'></i>
                </li>
                <li class="mt-2">
                    {{hobbies.[1].name}} <i class='fas fa-dumbbell' style='font-size:24px;color:red'></i>
                </li>
                <li class="mt-2">
                    {{hobbies.[2].name}} <i class='fas fa-music' style='font-size:24px;color:red'></i>
                </li>
            </ul>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}