{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    {{#with main}}
    <main>
        <section>
            {{> title data="Work history" big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div class="mt-3">
                            {{position}}
                        </div>
                        <div class="mt-3">
                            {{duration.from}} - {{#if duration.to}}{{duration.to}}{{else}}(Till now){{/if}}
                        </div>
                        <div class="mt-3">
                            {{> link text=company.name href=company.url blank=true big=true noLine=true}}
                        </div>
                        <div class="mt-3 ms-5">
                            <strong>Projects({{projectAmmont}})</strong>
                        </div>
                        <ul class="ms-5">

                            {{#each projects}}
                            {{#unless url}}
                            <b>{{name}}</b>
                            {{else}}
                            {{> link text=name href=url blank=true big=true noLine=true}}
                            {{/unless}}
                            <div class="mt-3">
                                <p>
                                    <cite>{{about}}</cite>
                                </p>
                            </div>
                         
                            <div class="mt-3">
                                <em>Project stacks ({{stackAmount}})</em>
                              
                                <ul class="ms-5">
                                    {{#each stacks}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                            
                            <div class="mt-3">
                                <em>Awards ({{awardAmount}})</em>
                                
                                <ul class="ms-5">
                                    {{#each awards}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                           
                    </li>
                    {{/each}}
                </ul>
            
                </li>
                {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}