<div class="col-12">
<div class="row mt-5 mb-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-1">
                <img src={{image}} alt="">
            </div>
            <div class="col-4 text-start me-5">
                <h4>{{name}}</h4>
                <p>{{description}}</p>
            </div>
            <div class="col-2 pt-4">
                {{#with price}}
                <p>{{title}}:</p>
                <b>{{value}}</b>
                {{/with}}
            </div>
            <div class="col-2 pt-5 me-5">
                {{amount}}
            </div>
            <div class="col-1 ms-4">
                <div class="row">
                    {{#each buttons}}
                    <div class="pt-3">
                    {{#if isPrimary}}
                    <button class="btn btn-primary">
                        {{text}}
                    </button>
                    {{/if}}
                    {{#if isDanger}}
                    <button class="btn btn-outline-danger">
                        {{text}}
                    </button>
                    {{/if}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>