<div class="card">
    <div class="card-body">
        {{#each reviewList}}
        <div class="card mt-5">
            <div class="card-header">
                {{#with title}}
                <p><b>{{userName}}</b></p>
                <p>{{caption}}</p>
                <p>{{date}}</p>
                {{/with}}
            </div>
            <div class="card-body">
                {{#with reviewBody}}
                {{#with seller}}
                <p>{{title}}: {{value}}</p>
                {{/with}}
                {{#with rating}}
                <p>{{title}}: {{value}}</p>
                {{/with}}

                {{#each text}}
                <p>{{this}}</p>
                {{/each}}

                {{#with advantages}}
                <p><b>{{title}}:</b></p>
                <p>{{text}}</p>
                {{/with}}

                {{#with disadvantages}}
                <p><b>{{title}}:</b></p>
                <p>{{text}}</p>
                {{/with}}


                <div class="row">
                    {{#each images}}
                    <div class="col-1">
                        <img src={{this}} alt="">
                    </div>
                    {{/each}}
                </div>

                </div>
                {{#each coments}}
                <div class="card mt-4 ms-5 me-3">
                    <div class="card-body">
                        <p><b>{{userName}}</b></p>
                        <p>{{date}}</p>
                        <p>{{text}}</p>
                    </div>
                </div>
                {{/each}}
                {{/with}}
        </div>
        {{/each}}
    </div>
</div>