{{#each footer}}
        <div class="row">
            <ul class="nav col-3">
                
                {{#if @last}}
                <li class="nav-item">
                    <a class="nav-link disabled" href={{[0].link}}>{{[0].text}}</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href={{[0].link}}>{{[0].text}}</a>
                </li>
                {{/if}}
               
            </ul>
            <ul class="nav col-3">
                {{#if @last}}
                <li class="nav-item">
                    <a class="nav-link disabled" href={{[1].link}}>{{[1].text}}</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href={{[1].link}}>{{[1].text}}</a>
                </li>
                {{/if}}
            </ul>
            <ul class="nav col-3">
                {{#if @last}}
                <li class="nav-item">
                    <a class="nav-link disabled" href={{[2].link}}>{{[2].text}}</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href={{[2].link}}>{{[2].text}}</a>
                </li>
                {{/if}}
            </ul>
            <ul class="nav col-3">
                {{#if @last}}
                <li class="nav-item">
                    <a class="nav-link disabled" href={{[3].link}}>{{[3].text}}</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href={{[3].link}}>{{[3].text}}</a>
                </li>
                {{/if}}
            </ul>
            <ul class="nav col-3">
                {{#if @last}}
                <li class="nav-item">
                    <a class="nav-link disabled" href={{[4].link}}>{{[4].text}}</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href={{[4].link}}>{{[4].text}}</a>
                </li>
                {{/if}}
            </ul>
        </div>
        {{/each}}